.mearg_main_div {
  display: flex;
  width: 98.5%;
  height: 100%;
}

.papre_merg_main {
  width: 100%;
}

.mrg_form_grid {
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 14rem;
}

.paper_merag {
  display: flex;
  flex-direction: column;
}

.Mrg_heading {
  display: flex;
}

.Mrg_heading h4 {
  padding: 23px 0px 12px 25px;
}

.mrg_displya_button_p {
  display: flex;
  position: relative;
  padding: 13px 0 12px 25px;
}
